@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <ul id="messages"></ul>
</div>
@section Scripts
{ 
 <script>
     var connection = new signalR.HubConnectionBuilder().withUrl("/dataHub").build();

     connection.on("ReceiveDeviceList", function (msg) {
         var li = document.createElement("li");
         document.getElementById("messages").appendChild(li);
         li.textContent = `${msg}`;
     });

     connection.start();
 </script>
}
